.présentation>h1 {
      display: flex;
      justify-content: center;
      font-size: 49px;
      margin-bottom: 10px;
}

.photo-texte {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 10;
      gap: 35px;
      margin: 20px;
}

.photo {
      width: 120px;
      width: 120px;
      height: 120px;
}

.bubble-text {
      background: #56a8dc;
      color: black;
      padding: 2px 15px;
      border-radius: 9px;
      border: 1px solid black;
      max-width: 850px;
}

.bubble-text>h1 {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 33px;
      margin: 15px 0 0;
      letter-spacing: 2px;
}

.bubble-text>p {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
}

.bubble-text::after {
      content: "";
      border-right: 40px solid transparent;
      border-top: 20px solid #56a8dc;
      position: absolute;
}

.photo-texte>p {
      padding-left: 50px;
      font-size: 26px;
      width: 730px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
}

.cv-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      text-decoration: none;
      cursor: pointer;
      color: black;
}

.cv-icone {
      width: 100px;
}

@media screen and (max-width :966px) {
      .bubble-text>h1 {
            font-size: 20px;
      }

      .photo-texte {
            gap: 10px;
      }
}

@media screen and (max-width :520px) {
      .photo-texte {
            flex-direction: column;
            align-items: center;
            gap: 15px;
      }

      .bubble-text::after {
            display: none;
      }
}